.bolognese{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    
}

h1{
    text-align:center;
    color:aquamarine;
    background-color:rgb(112, 117, 117);
}
h2{
    text-align:center;
    color:blanchedalmond;
    background-color:black;
    font-size:40px;
}
.ulb{
    background-color:chocolate;
    font-weight:bold;
    font-family:Arial;
}
h3{
    text-align:center;
    color:white;
    font-size:36px;
    background-color:red;
}
p{
    font-weight:bold;
    color:white;
    background-color:grey;
}
ol{
    font-size:20px;
    font-family:"Times New Roman";
    background-color:chartreuse;
}

.main{
    color:blue;
    background-color:yellow;
}
.cook{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height:70%;
}
a:link {
    text-decoration: none;
    font-weight:bold;
    font-size:24px;
  }